
body {
    
    background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 50;
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: light;
    text-align: center;
    padding: 12px 50px;
    text-decoration: none;
    font-family: "verdana", verdana;
    font-weight: 100;
    font-size: 80px;
    letter-spacing: 1px;
    color: darkorange;
} 

li a:hover {
    background-color: #F8F8F8;
}

.me {
    width: 1500px;
    height: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {

    background-color: white;
    color: darkorange;
    padding-top: 80;
    padding-bottom: 10;
    font-size: 200px;
}

.words {
    color: navajowhite;
    font-size: 90;
    letter-spacing: 10;
}

.picture {
    margin-top: 217;
    padding-top: 500;
    padding-bottom: 500;
    background-image: url(chuttersnap-kaGnnFN4Ahk-unsplash.jpg);
    background-size: 100%;
}

.box {
    background-color:white;
}


div {
    position: relative;
    text-align: center;
    color:darkred;
    font-family: "Neucha", cursive;
}
